To work with Spring Cloud Services (SCS) service instances, a Spring Boot client app can include the following BOMs:

* `spring-cloud-services-dependencies`
* `spring-cloud-dependencies`
* `spring-boot-dependencies` (unless you use the `spring-boot-starter-parent` or Spring Boot Gradle plugin)

See below for compatible versions of the SCS tile, the SCS client dependencies, and Spring Boot and Spring Cloud versions. These client dependencies are backward-compatible and forward-compatible with one minor Spring Cloud version.

<p class='note important'><strong>Important</strong>: Versions 1.6.1--1.6.3 of the SCS client dependencies have an issue that can prevent a client app from connecting to a Spring Cloud Services service instance after losing an existing connection. Pivotal recommends use of version 1.6.4 or later instead.</p>

<p class='note'><strong>Note</strong>: Version 2.0.x of the SCS client dependencies is not compatible with Spring Boot 2.1.x.</p>

| SCS Tile | SCS Client Starters            | Spring Boot         | Spring Cloud |
|----------|--------------------------------|---------------------|--------------|
| 3.0.x    | 2.1.x                          | 2.1.x               | Greenwich.x  |
| 2.0.x    | 2.1.x                          | 2.1.x               | Greenwich.x   |
| 2.0.x    | 2.0.x                          | 2.0.x (_not_ 2.1.x) | Finchley.x   |
| 2.0.x    | 1.6.x                          | 1.5.x               | Edgware.x    |
| 1.5.x    | 2.0.x                          | 2.0.x               | Finchley.x   |
| 1.5.x    | 1.6.x                          | 1.5.x               | Edgware.x    |

<p class='note'><strong>Important</strong>: Ensure that the ordering of the Maven BOM dependencies listed below is preserved in your app's build file. Dependency resolution is affected in both Maven and Gradle by the order in which dependencies are declared.</p>

If using Maven, include in `pom.xml`:

```xml
  <parent>
    <groupId>org.springframework.boot</groupId>
    <artifactId>spring-boot-starter-parent</artifactId>
    <version>2.1.4.RELEASE</version>
    <relativePath/> <!-- lookup parent from repository -->
  </parent>

  <dependencyManagement>
    <dependencies>
        <dependency>
            <groupId>io.pivotal.spring.cloud</groupId>
            <artifactId>spring-cloud-services-dependencies</artifactId>
            <version>2.1.2.RELEASE</version>
            <type>pom</type>
            <scope>import</scope>
        </dependency>
        <dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-dependencies</artifactId>
            <version>Greenwich.RELEASE</version>
            <type>pom</type>
            <scope>import</scope>
        </dependency>
    </dependencies>
  </dependencyManagement>
```

If not using the `spring-boot-starter-parent`, include in the `<dependencyManagement>` block of `pom.xml`:

```
  <dependencyManagement>
    <dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-dependencies</artifactId>
            <version>2.1.4.RELEASE</version>
            <type>pom</type>
            <scope>import</scope>
        </dependency>

        <!-- ... -->

    </dependencies>
  </dependencyManagement>
```

If using Gradle, you will also need to use the <a href="https://github.com/spring-gradle-plugins/dependency-management-plugin">Gradle dependency management plugin</a>.

Include in `build.gradle`:

```groovy
buildscript {
    repositories {
        mavenCentral()
    }
    dependencies {
        classpath("io.spring.gradle:dependency-management-plugin:1.0.7.RELEASE")
        classpath("org.springframework.boot:spring-boot-gradle-plugin:2.1.4.RELEASE")
    }
}

apply plugin: "java"
apply plugin: "org.springframework.boot"
apply plugin: "io.spring.dependency-management"

dependencyManagement {
    imports {
        mavenBom "org.springframework.cloud:spring-cloud-dependencies:Greenwich.RELEASE"
        mavenBom "io.pivotal.spring.cloud:spring-cloud-services-dependencies:2.1.2.RELEASE"
    }
}

repositories {
    maven {
        url "https://repo.spring.io/plugins-release"
    }
}
```

If not using the Spring Boot Gradle plugin, include in the `dependencyManagement` block of `build.gradle`:

```groovy
dependencyManagement {
    imports {
        mavenBom "org.springframework.boot:spring-boot-dependencies:2.1.4.RELEASE"
    }
}
```
